gymnasium==0.29.1
matplotlib==3.9.0
numpy==1.26.4
pynput==1.7.7
scipy==1.13.1
stable_baselines3==2.3.0
stable_baselines3[extra]
tensorboard==2.17.0
wandb==0.17.1
xarray==0.21.0
optuna==3.6.1
optuna-dashboard
optuna-integration==3.6.0
#cupy #install with conda with correct GPU versioning
backports-datetime-fromisoformat
termcolor
gmplot
netcdf4
geographiclib
imageio
pvlib
windrose==1.9.0
pyproj
metpy
line_profiler
seaborn